body {
    background-image: url(bgimg2.jpeg); 
    background-color:#000000 ;
    color: #e0e0e0; 
    font-family: Georgia; 
    margin: 0; 
}
nav { background-color: #2f1111; padding: 15px; text-align: center;  position: sticky; top: 0;}
nav a { color: white; margin: 0 15px; font-weight: bold; }
nav a:hover { color: #000000; }
table { width: 100%; border-collapse: collapse; margin-top: 20px; }
td { border: 1px; padding: 15px; }
h2 { padding: 50px 10%; }
img { max-width: 100%; height: auto; display: block; margin: auto; cursor: pointer;
     transition:400ms; }
img:hover { transform: scale(1.12) ; filter: brightness(1.3);
      }  
marquee { background: #000000; color: white; padding: 10px;}